/* .hovered1-text:hover {
    color: #A6B50C; 
    cursor: pointer;
  } */

  .Navadhiti_logo{
    margin-left: 130px;
    max-height: 65px;
  }

@media (max-width: 768px) {
  .Navadhiti_logo{
    margin-left: 0;
  }
}


  