#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}




/* body {
  background-image: url('./Components/bgimage.jpg');
  background-size: cover; 
  background-repeat: no-repeat; 
  background-attachment: fixed;  
  margin: 0;
  padding: 0; 
} */